<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>מנהל</title>
    <link rel="stylesheet" href="/static/src/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">

    <style>
        .table-responsive {
            border-top: none;
        }
    </style>
</head>
<body>
<div class="container"><h1 class="login-form-title" style="text-align: center; direction: ltr">GAMA-S.M.</h1>
</div>
<div id="main_tabs" class="container">
    <ul class="nav nav-tabs nav-tabs-responsive">
        <li class="active"><a href="#1" data-toggle="tab"><span class="text">מצב מכירות</span></a></li>
        <li class="next"><a href="#2" data-toggle="tab"><span class="text">מידע כללי</span></a></li>
        <li><a href="#3" data-toggle="tab" id="groups_and_users"><span class="text">קבוצות וסוכנים</span></a></li>
        <li><a href="#4" data-toggle="tab"><span class="text">לקוחות</span></a></li>
        <li><a href="#5" data-toggle="tab"><span class="text">מסלולים</span></a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="1">
            <div ng-include="'/static/admin/status_sale/status_sale.html'"></div>
        </div>
        <div class="tab-pane" id="2">
            <h3>מידע כללי</h3>
        </div>
        <div class="tab-pane" id="3">
            <h3>קבוצות וסוכנים</h3>
            <div class="col-md-3">
                <div>
                    <button class="login-form-btn">הוסף קבוצה
                    </button>
                </div>
                <ul class="nav nav-pills nav-stacked"></ul>
            </div>
            <div class="col-md-9 tab-content"></div>
        </div>
        <div class="tab-pane" id="4">
            <h3>לקוחות</h3>
        </div>
        <div class="tab-pane" id="5">
            <div ng-include="'/static/admin/tracks/tracks.html'"></div>
        </div>
    </div>

</div>

<script src="/static/src/vendor/jquery/js/jquery-3.2.1.min.js"></script>
<script src="/static/src/tether.min.js"></script>
<script src="/static/src/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/src/vendor/angularjs/angular.min.js"></script>
<script src="/static/src/sortable.js"></script>

<script src="/static/app.js"></script>
<script src="/static/admin/status_sale/status_sale.js"></script>
<script src="/static/admin/tracks/tracks.js"></script>
</body>
</html>