<!DOCTYPE html>
<html lang="en">
<head>
    <title>כניסה - GamaSM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/src/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/src/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/src/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/src/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/src/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/src/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/src/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/src/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/src/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/util.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login">
        <div class="wrap-login p-t-50 p-b-90">
            <form class="login-form validate-form flex-sb flex-w" action="/admin/login" method="post">
					<span class="login-form-title p-b-51">
						GAMA-S.M.
					</span>


                <div class="wrap-input validate-input m-b-16" data-validate="שם משתמש">
                    <input class="input" type="text" name="admin_email" placeholder="אימייל">
                    <span class="focus-input"></span>
                </div>


                <div class="wrap-input validate-input m-b-16" data-validate="סיסמה">
                    <input class="input" type="password" name="admin_password" placeholder="סיסמה">
                    <span class="focus-input"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact-form-checkbox">
                        <input class="input-checkbox" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox" for="ckb1">
                            זכור אותי
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            שכחת שם משתמש או סיסמה?
                        </a>
                    </div>
                </div>

                <div class="container-login-form-btn m-t-17">
                    <button class="login-form-btn btn-block">
                        הכנס
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/static/src/vendor/jquery/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/static/src/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/static/src/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/static/src/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/static/src/vendor/daterangepicker/moment.min.js"></script>
<script src="/static/src/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/static/src/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/static/login/js/main.js"></script>

</body>
</html>