<!DOCTYPE html>
<html lang="en">
<head>
    <title>כניסה - GamaSM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/src/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/src/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/util.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login">
        <div class="wrap-login p-t-50 p-b-90">
            <form class="login-form validate-form flex-sb flex-w" action="/singup" method="post">
					<span class="login-form-title p-b-51">
						GAMA-S.M.
					</span>


                <div class="wrap-input validate-input m-b-16" data-validate="סיסמה">
                    <input class="input" type="password" name="password" placeholder="סיסמה">
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-input validate-input m-b-16" data-validate="סיסמה">
                    <input class="input" type="password" name="password_again" placeholder="הכנס שוב סיסמה">
                    <span class="focus-input"></span>
                </div>
                <label>
                    <input hidden type="text" name="u" value="{{ u }}">
                </label>
                <div class="container-login-form-btn m-t-17">
                    <button type="submit" class="login-form-btn btn-block">
                        הרשם
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/static/src/vendor/jquery/js/jquery-3.2.1.min.js"></script>
<script src="/static/login/js/main.js"></script>

</body>
</html>