<h3>מצב מכירות</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th class="text-right">תאריך</th>
        <th class="text-right">סוכן</th>
        <th class="text-right">לקוח</th>
        <th class="text-right">מסלול</th>
        <th class="text-right">פרטים</th>
    </tr>
    </thead>
    <tbody ng-repeat="sale in mc.statusSale.status_sale">
    <tr ng-click="show=show ? false : true">
        <td>{a sale.date_time a}</td>
        <td>{a sale.user_first_name a} {a sale.user_last_name a}</td>
        <td>{a sale.client_first_name a} {a sale.client_last_name a}</td>
        <td>{a sale.company a}</td>
        <td>{a sale.comment a}</td>
    </tr>
    <tr ng-show="show">
        <td>
            <h4><strong>פרטים:</strong></h4><br>
            <div class="btn-group">
                <button class="btn btn-success">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </button>
                <button class="btn btn-warning">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                </button>
                <button class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </td>
        <td>
            <div ng-if="sale.bank_account_id" ng-init="payment=mc.statusSale.payments[sale.bank_account_id]">

            </div>
            <div ng-if="sale.credit_card_id" ng-init="payment=mc.statusSale.payments[sale.credit_card_id]">
                <strong>מספר כרטיס: </strong><span>{a payment.card_number a}</span><br>
                <span>{a payment.month a}/{a payment.year a} <strong>cvv:</strong>{a payment.cvv a}</span>
            </div>
        </td>
        <td>
            <strong>ת.ז. </strong><span>{a sale.client_id a}</span>
            <br>
            <strong>כתובת: </strong><span>{a sale.client_address a} {a sale.city a}</span>
        </td>
        <td>{a sale.track_name a}</td>
        <td>
            <strong>סים: </strong><span>{a sale.sim_num a}</span>
            <br>
            <strong>מספר קו: </strong><span>{a sale.phone_num a}</span>
        </td>
    </tr>
    </tbody>
</table>